.custom-context-menu {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  z-index: 9999;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 0px;
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
    list-style-type: none;
  }
  li:hover {
    background-color: #ccc;
  }
}
